
.CPFormM1{
    margin-inline: 2vw;
    margin-top: -5vh;
    margin-bottom: 2vh;
    position: relative;
    z-index: 1;
}
@media (max-width:800px) {
    .CPFormM1{
        margin-top: 4vh;
        margin-bottom: 13vh;
    }
}

.CPFormM2{
    height: 80%;
    width: auto;
    /* border: 1px solid black; */
    border-radius: 25px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    background-color: white;
    padding: 10px;
}


.CPFormBtn1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width:768px) {
    .CPFormBtn1{
        display: none;
    }
}

.CPFormBtn1M{
    padding-inline: 59px;
    border-radius: 19px;
}

.CPFormBtn1Last{
    display: flex;
    justify-content: center;
}
@media (min-width:768px) {
    .CPFormBtn1Last{
        display: none;
    }
}

.CPFormM2 label{
    color: rgb(152, 151, 151)
}

.CPFormM2 select{
    padding-block: 10px;
}

.CPFormM2 input{
    padding-block: 10px;
}

.CPFormM2 form{
    margin-bottom: 20vh;
}

.CPFormRegStatus{
    display: flex;
    align-items: center;
}