/* 
.carousel-container {
    padding: 0 20px; 
  }
  
  .carousel-item-padding-40-px {
    padding: 10px;
  } */

/* .cardMainC .cm-Main:nth-child(n){
    gap: 20px;
}

.cm-Main{
    margin-inline: 50px;
} */
